# 设置 npm 镜像源
registry=https://registry.npmmirror.com/

# 关键：设置 Electron 二进制文件镜像
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_custom_dir={{version}}

# 如果你还需要其他常用库的镜像
sass_binary_site=https://npmmirror.com/mirrors/node-sass/
sharp_binary_host=https://npmmirror.com/mirrors/sharp/
sharp_libvips_binary_host=https://npmmirror.com/mirrors/sharp-libvips/